body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00a0d2;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.logo img {
    max-height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.login-btn a {
    text-decoration: none;
    color: white;
    background-color: #007bb5;
    padding: 10px 20px;
    border-radius: 5px;
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon {
    text-align: center;
    margin: 1em;
}

.icon img {
    height: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    margin-top: 1em;
    padding: 0.5em;
    border: none;
    background-color: #00a2d1;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #00a2d1;
    color: white;
}
